<nav>
    <div class="site-title">
        <a href="/">Blog home page</a>
        <p>Latest Node Blog.......</p>
    </div>
    <ul>
        <li><a href="/blogs">blog</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/blogs/create">create blog</a></li>
    </ul>
</nav>