<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur ut blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae in.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur ut blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae in.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur ut blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae in.</p>
    <script>
      // setInterval(() => {
      //   fetch('https://api.cryptonator.com/api/ticker/btc-usd')
      //   .then(response => response.text()).then(textString =>{
      //       console.log(textString);
      //       var price = textString.split(',')[2].split(':')[1];
      //       console.log(price);
      //       var time = textString.split(',')[5].split(':')[1];
      //       console.log(time);
      //     })
      //   .catch(err =>{
      //     console.log(err);
      //   })
      // }, 15000);
    </script>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>