<html lang="en">
<%- include("./partials/head.ejs") %>
<script>  
  function matchPassword() {  
    var pw1 = document.getElementById("newpassword").value;  
    var pw2 = document.getElementById("confirm_password").value;
    if(pw1.length < 6)
    {
      alert("Password length must be greater than 6.");
      //document.getElementById("message1").innerHTML="Password length must be greater than 6.";
      return false;
    }
    if(pw1 !== pw2)  
    {   
      alert("Password does not match.");
      //document.getElementById("message2").innerHTML="Password did not match.";
      return false;
    } else {  
      return true;  
    }  
  }  
</script>  
<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-blog content">
    <form action="/changepassword" method="POST">
      <label for="email">Current Password:</label>
      <input type="password" id="password" name="password" required>
      <label for="snippet">New Password:</label>
      <!-- <span id = "message1" style="color:red"> </span> -->
      <input type="password" id="newpassword" name="newpassword" required>
      <label for="body">Confirm Password:</label>
      <!-- <span id = "message2" style="color:red"> </span> -->
      <input type="password" id="confirm_password" name="confirm_password" required >
      <button onclick="return matchPassword()">Change Password</button>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>